@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --red: #E50914;
    --black: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* elementos base */
body {
    background-color: var(--black);
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.logo {
    color: var(--red);
    font-size: 28px;
    letter-spacing: 2px;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

header nav a {
    color: #AAA;
    text-decoration: none;
    margin-right: 30px;
}

header nav a:hover {
    color: #ffffff;
    font-weight: bolder;
}

/* principal */
.principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)100%), url("../img/hadestown-pic.jpg");
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.title {
    margin-top: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}

/* ler sobre a tag span */
h3 .red-part {
    color: var(--red);
    font-family: 'Roboto', sans-serif
}
/**/

.principal .description {
    margin-bottom: 40px;
    letter-spacing: normal;
    margin-top: 10px;
}

.button {
    background-color: rgba(0, 0, 0, .5);
    border: none;
    color: #ffffff;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    transition: .2s ease-in-out;
}

.button:hover {
    cursor: pointer;
    background-color: #ffffffb0;
    color: #000;
}

.button i {
    margin-right: 8px;
}

.hidden-div {
    margin: 15px 40px;
    background-color: rgba(0, 0, 0, 0.678);
    padding: 10px;
    text-align: justify;
    line-height: 20px;
    border-radius: 15px;
    border: 1px solid #AAA;
    display: flex;
}

.container {
    margin-left: 40px;
    margin-right: 25px;
}

.principal .container {
    width: 40%;
}

.carousel-musicals {
    margin: 30px 20px;
}

.box-musical {
    height: 100%;
    width: 100%;
    display: block;
}

/* assistir a aula 8 */